.mat-toolbar {
    display: flex;
    justify-content: center;
    height: 64px;
}

.toolbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 64px;
}

.left-align {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.center-align {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}


.admin-image {
    width: 40px; 
    height: 40px;
    border-radius: 50%; 
    background-color: #7f7f7f;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: #fff !important;
  }

.admin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 140px;
    padding-left: 16px;
  }
  .admin-details {
    order: 1; 
    margin-right: 10px; 
    display: flex;
    flex-direction: column;
    .user-details {
      height: 20px;
    }
  }


  .admin-info div {
    color: #555;
    font-size: 14px; 
  }

  .notification {
    padding: 15px;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    width: 50px;
    text-align: center;
  }
