<mat-toolbar color="white">
    
    
    <div class="toolbar-container">
        <div class="left-align">
            <span>Labosoft</span>
        </div>
       <div class="center-align">
            <a mat-button>Dashboard</a>
            <a mat-button>Billing</a>
            <a mat-button>Settings</a>
        </div>

        <div class="left-right">
            <i class="fas fa-bell"></i>
        </div>

        <div class="admin-info">
            <div class="admin-image">JS</div>
            <div class="admin-details">
                <span>John Smith</span>
                <br>
                <span>Admin</span>
            </div>     
          </div>

    </div>


</mat-toolbar>
